.NavContainer {
    width: 117px;
    height: 90vh;
    background-color: black;
    color: white;
    position: absolute;
    bottom: 0;
}
.NavComponents {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.svgComponent {
    margin-bottom: 20px;
}
.ButtonsContainer {
    margin-top: 10vh;
}
.CopiryghtContainer {
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    
}
.CopiryghtContainer p {
    font-size: 12px;
    transform: rotate(-90deg);

}

@media screen and (max-width: 1300px) {
    .NavContainer {
        height: 110%;
        top: 10%;
        bottom: none;
    }
}