.NavContainer {
    width: 117px;
    height: 1000px;
    background-color: black;
    color: white;
}
.NavComponents {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}
.svgComponent {
    margin-bottom: 20px;
}
.ButtonsContainer {
    margin-top: 10vh;
}
.CopiryghtContainer {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    
}
.CopiryghtContainer p {
    font-size: 12px;
    transform: rotate(-90deg);
}