.containerRadialBar {
    background-color: #FBFBFB;
    border-radius: 5px;
    margin-right: 30px;
    width: 90%;
    height: 300px;
    position: relative;
}

.TextScoreTop {
    position: absolute;
    /* padding-top: 24px; */
    /* margin-left: 30px; */
    font-size: 15px;
    font-weight: 500;
    color: #74798C;
    top: 10%;
    left: 10%;
}

.TextScoreMiddle{
    position: absolute;
    color: #20253A;
    font-size: 16px;
    z-index: 5;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}
.TextScoreMiddle span {
    color: #282D30;
    font-weight: 700;
    font-size: 26px;

}
.TextScoreMiddle p {
    margin: 5px 0;
}


.whiteRingMiddle {
    position: absolute;
    width: 100%;
    height: 300px;
    background-color: #FBFBFB;
    background: radial-gradient(circle, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 41%, #FBFBFB 41%);
}

.parentRing {
    position: relative;
    width: 100%;
    background-color: red;
}