.ContainerLabel {
    margin-left: 234px;
    font-size: 48px;
}

.TextWelcome {
    margin-top: 40px;
    font-weight: 500;

}

.ContainerLabel span {
    color: red;
}

.TextCongratulation {
    padding-top: 20px;
    font-size: 24px;
}
.test {
    margin-left: 500px;
}
.containerComponentFeatures {

    margin-top: 15px;
    margin-right: 7%;
}
.ComponentPosition {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.componentsLeft {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 230px;
}
.componentsBotPosition {
    display: flex;
    width: 100%;
}


@media screen and (max-width : 1300px) {


    .TextWelcome {
        font-size: 30px;
    }
    .TextCongratulation{
        font-size: 18px;
    }
    .ContainerLabel {
        margin-left: 165px;
    }
    .componentsLeft {
        margin-left: 318px;
    }
    .containerComponentFeatures {
        display: flex;
        margin-left: 170px;
    }
    .ComponentPosition {
        flex-direction: column;
    }
    .componentsBotPosition{
        width: 88vw;
    }
}





